In [19]:
# this cell is for importations only

import pandas as pd

from geopy.geocoders import Nominatim

In [17]:
!pip3 install geohash

Requirement already satisfied: geohash in ./ourenv/lib/python3.12/site-packages (1.0)
Requirement already satisfied: docutils>=0.3 in ./ourenv/lib/python3.12/site-packages (from geohash) (0.21.2)

In [5]:
# import dataset from csv file in ./crashes and create new dataframe
crashes = pd.read_csv('./crashes/Crashes.csv');
people = pd.read_csv('./crashes/People.csv');
vehicles = pd.read_csv('./crashes/Vehicles.csv');

/var/folders/yx/4ygjbp9545s6p9w17x32bhzc0000gn/T/ipykernel_7661/1651212456.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  crashes = pd.read_csv('./crashes/Crashes.csv');
/var/folders/yx/4ygjbp9545s6p9w17x32bhzc0000gn/T/ipykernel_7661/1651212456.py:3: DtypeWarning: Columns (11,12,19,20,21,22,23,24,25,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  people = pd.read_csv('./crashes/People.csv');
/var/folders/yx/4ygjbp9545s6p9w17x32bhzc0000gn/T/ipykernel_7661/1651212456.py:4: DtypeWarning: Columns (18,39,40,41,43,47,48,49,54,57,58,60,70) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicles = pd.read_csv('./crashes/Vehicles.csv');

In [4]:
crashes.head()

,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,JC123097,NaN,01/19/2019 11:45:00 PM,30,TRAFFIC SIGNAL,UNKNOWN,SNOW,"DARKNESS, LIGHTED ROAD",REAR END,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,2.0,0.0,23,7,1,41.859566,-87.659525,POINT (-87.659524513506 41.859565972988)
1,JC123084,NaN,01/19/2019 11:30:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",PEDALCYCLIST,NOT DIVIDED,...,0.0,1.0,1.0,0.0,23,7,1,41.928335,-87.699915,POINT (-87.699915181766 41.928335036314)
2,JC123076,NaN,01/19/2019 11:16:00 PM,25,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,2.0,0.0,23,7,1,41.870048,-87.715673,POINT (-87.715673407351 41.870048406533)
3,JC123075,NaN,01/19/2019 11:15:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN BARRIER,...,0.0,0.0,2.0,0.0,23,7,1,41.876569,-87.686450,POINT (-87.686449738767 41.876568874081)
4,JC123050,Y,01/19/2019 10:52:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,...,0.0,0.0,2.0,0.0,22,7,1,41.946837,-87.690697,POINT (-87.690696829341 41.946837390731)

In [5]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261265 entries, 0 to 261264
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   RD_NO                          261265 non-null  object
 1   CRASH_DATE_EST_I               19520 non-null   object
 2   CRASH_DATE                     261265 non-null  object
 3   POSTED_SPEED_LIMIT             261265 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         261265 non-null  object
 5   DEVICE_CONDITION               261265 non-null  object
 6   WEATHER_CONDITION              261265 non-null  object
 7   LIGHTING_CONDITION             261265 non-null  object
 8   FIRST_CRASH_TYPE               261265 non-null  object
 9   TRAFFICWAY_TYPE                261265 non-null  object
 10  LANE_CNT                       182307 non-null  object
 11  ALIGNMENT                      261265 non-null  object
 12  ROADWAY_SURFACE_COND           261265 non-null  object
 13  ROAD_DEFECT                    261265 non-null  object
 14  REPORT_TYPE                    256010 non-null  object
 15  CRASH_TYPE                     261265 non-null  object
 16  INTERSECTION_RELATED_I         55804 non-null   object
 17  NOT_RIGHT_OF_WAY_I             11650 non-null   object
 18  HIT_AND_RUN_I                  71942 non-null   object
 19  DAMAGE                         261265 non-null  object
 20  DATE_POLICE_NOTIFIED           261265 non-null  object
 21  PRIM_CONTRIBUTORY_CAUSE        261265 non-null  object
 22  SEC_CONTRIBUTORY_CAUSE         261265 non-null  object
 23  STREET_NO                      261265 non-null  int64
 24  STREET_DIRECTION               261263 non-null  object
 25  STREET_NAME                    261264 non-null  object
 26  BEAT_OF_OCCURRENCE             261261 non-null  float64
 27  PHOTOS_TAKEN_I                 3424 non-null    object
 28  STATEMENTS_TAKEN_I             5295 non-null    object
 29  DOORING_I                      892 non-null     object
 30  WORK_ZONE_I                    2043 non-null    object
 31  WORK_ZONE_TYPE                 1631 non-null    object
 32  WORKERS_PRESENT_I              433 non-null     object
 33  NUM_UNITS                      260873 non-null  float64
 34  MOST_SEVERE_INJURY             260397 non-null  object
 35  INJURIES_TOTAL                 260404 non-null  float64
 36  INJURIES_FATAL                 260404 non-null  float64
 37  INJURIES_INCAPACITATING        260404 non-null  float64
 38  INJURIES_NON_INCAPACITATING    260404 non-null  float64
 39  INJURIES_REPORTED_NOT_EVIDENT  260404 non-null  float64
 40  INJURIES_NO_INDICATION         260404 non-null  float64
 41  INJURIES_UNKNOWN               260404 non-null  float64
 42  CRASH_HOUR                     261265 non-null  int64
 43  CRASH_DAY_OF_WEEK              261265 non-null  int64
 44  CRASH_MONTH                    261265 non-null  int64
 45  LATITUDE                       260230 non-null  float64
 46  LONGITUDE                      260230 non-null  float64
 47  LOCATION                       260230 non-null  object
dtypes: float64(11), int64(5), object(32)
memory usage: 95.7+ MB

In [6]:
# check for missing values in crashes
crashes.isnull().sum()

RD_NO                                 0
CRASH_DATE_EST_I                 241745
CRASH_DATE                            0
POSTED_SPEED_LIMIT                    0
TRAFFIC_CONTROL_DEVICE                0
DEVICE_CONDITION                      0
WEATHER_CONDITION                     0
LIGHTING_CONDITION                    0
FIRST_CRASH_TYPE                      0
TRAFFICWAY_TYPE                       0
LANE_CNT                          78958
ALIGNMENT                             0
ROADWAY_SURFACE_COND                  0
ROAD_DEFECT                           0
REPORT_TYPE                        5255
CRASH_TYPE                            0
INTERSECTION_RELATED_I           205461
NOT_RIGHT_OF_WAY_I               249615
HIT_AND_RUN_I                    189323
DAMAGE                                0
DATE_POLICE_NOTIFIED                  0
PRIM_CONTRIBUTORY_CAUSE               0
SEC_CONTRIBUTORY_CAUSE                0
STREET_NO                             0
STREET_DIRECTION                      2
STREET_NAME                           1
BEAT_OF_OCCURRENCE                    4
PHOTOS_TAKEN_I                   257841
STATEMENTS_TAKEN_I               255970
DOORING_I                        260373
WORK_ZONE_I                      259222
WORK_ZONE_TYPE                   259634
WORKERS_PRESENT_I                260832
NUM_UNITS                           392
MOST_SEVERE_INJURY                  868
INJURIES_TOTAL                      861
INJURIES_FATAL                      861
INJURIES_INCAPACITATING             861
INJURIES_NON_INCAPACITATING         861
INJURIES_REPORTED_NOT_EVIDENT       861
INJURIES_NO_INDICATION              861
INJURIES_UNKNOWN                    861
CRASH_HOUR                            0
CRASH_DAY_OF_WEEK                     0
CRASH_MONTH                           0
LATITUDE                           1035
LONGITUDE                          1035
LOCATION                           1035
dtype: int64

In [9]:
crashes_columns = crashes.columns
len(crashes_columns)

48

In [10]:
[people_cols, vehicles_cols] = [people.columns, vehicles.columns]

In [16]:
people.isnull().sum()

PERSON_ID                     0
PERSON_TYPE                   0
RD_NO                         0
VEHICLE_ID                10373
CRASH_DATE                    0
SEAT_NO                  455461
CITY                     143910
STATE                    141961
ZIPCODE                  179384
SEX                        7138
AGE                      160957
DRIVERS_LICENSE_STATE    224856
DRIVERS_LICENSE_CLASS    261200
SAFETY_EQUIPMENT           1355
AIRBAG_DEPLOYED           10139
EJECTION                   6431
INJURY_CLASSIFICATION       282
HOSPITAL                 465522
EMS_AGENCY               498909
EMS_RUN_NO               554441
DRIVER_ACTION            109742
DRIVER_VISION            109849
PHYSICAL_CONDITION       109480
PEDPEDAL_ACTION          554277
PEDPEDAL_VISIBILITY      554308
PEDPEDAL_LOCATION        554273
BAC_RESULT               108839
BAC_RESULT VALUE         563688
CELL_PHONE_USE           563259
dtype: int64

In [17]:
vehicles.isnull().sum()

CRASH_UNIT_ID                   0
RD_NO                           0
CRASH_DATE                      0
UNIT_NO                         0
UNIT_TYPE                       9
                            ...
CARGO_BODY_TYPE            523262
LOAD_TYPE                  523383
HAZMAT_OUT_OF_SERVICE_I    523831
MCS_OUT_OF_SERVICE_I       523736
HAZMAT_CLASS               527101
Length: 71, dtype: int64

In [7]:
people.head()

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O10,DRIVER,HY368708,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,M,...,NaN,FAILED TO YIELD,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O100,DRIVER,HY374018,96.0,07/31/2015 05:50:00 PM,NaN,ELK GROVE,IL,60007,M,...,NaN,FOLLOWED TOO CLOSELY,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O1000,DRIVER,HY407431,954.0,09/02/2015 11:45:00 AM,NaN,CHICAGO,IL,NaN,M,...,NaN,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10000,DRIVER,HY484148,9561.0,10/31/2015 09:30:00 PM,NaN,SKOKIE,IL,60076,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O100001,DRIVER,HZ525619,96762.0,11/15/2016 05:45:00 PM,NaN,NaN,NaN,NaN,X,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [8]:
vehicles.head()

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,394092,JB278428,05/24/2018 04:45:00 PM,2,DRIVER,NaN,379191.0,NaN,DODGE,CHARGER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,394093,JB278428,05/24/2018 04:45:00 PM,1,PARKED,NaN,379180.0,NaN,PONTIAC,G6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,396094,JB281663,05/28/2018 12:30:00 AM,1,DRIVER,NaN,380981.0,NaN,VOLKSWAGEN,JETTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,396095,JB281663,05/28/2018 12:30:00 AM,2,DRIVER,1.0,380986.0,NaN,NISSAN,NISSAN MAXIMA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,396943,JB283806,05/29/2018 11:30:00 AM,1,DRIVER,NaN,381829.0,NaN,UNKNOWN,UNKNOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Working on Crashes, eliminating missing values based on the col type

# Now working on handling the missing values

In [31]:
crashes.head()

,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,JC123097,NaN,01/19/2019 11:45:00 PM,30,TRAFFIC SIGNAL,UNKNOWN,SNOW,"DARKNESS, LIGHTED ROAD",REAR END,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,2.0,0.0,23,7,1,41.859566,-87.659525,POINT (-87.659524513506 41.859565972988)
1,JC123084,NaN,01/19/2019 11:30:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",PEDALCYCLIST,NOT DIVIDED,...,0.0,1.0,1.0,0.0,23,7,1,41.928335,-87.699915,POINT (-87.699915181766 41.928335036314)
2,JC123076,NaN,01/19/2019 11:16:00 PM,25,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,2.0,0.0,23,7,1,41.870048,-87.715673,POINT (-87.715673407351 41.870048406533)
3,JC123075,NaN,01/19/2019 11:15:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN BARRIER,...,0.0,0.0,2.0,0.0,23,7,1,41.876569,-87.686450,POINT (-87.686449738767 41.876568874081)
4,JC123050,Y,01/19/2019 10:52:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,...,0.0,0.0,2.0,0.0,22,7,1,41.946837,-87.690697,POINT (-87.690696829341 41.946837390731)

In [43]:
# print missing values for crashes
print(crashes.isnull().sum())

RD_NO                            0
CRASH_DATE_EST_I                 0
CRASH_DATE                       0
POSTED_SPEED_LIMIT               0
TRAFFIC_CONTROL_DEVICE           0
DEVICE_CONDITION                 0
WEATHER_CONDITION                0
LIGHTING_CONDITION               0
FIRST_CRASH_TYPE                 0
TRAFFICWAY_TYPE                  0
LANE_CNT                         0
ALIGNMENT                        0
ROADWAY_SURFACE_COND             0
ROAD_DEFECT                      0
REPORT_TYPE                      0
CRASH_TYPE                       0
INTERSECTION_RELATED_I           0
NOT_RIGHT_OF_WAY_I               0
HIT_AND_RUN_I                    0
DAMAGE                           0
DATE_POLICE_NOTIFIED             0
PRIM_CONTRIBUTORY_CAUSE          0
SEC_CONTRIBUTORY_CAUSE           0
STREET_NO                        0
STREET_DIRECTION                 0
STREET_NAME                      0
BEAT_OF_OCCURRENCE               0
PHOTOS_TAKEN_I                   0
STATEMENTS_TAKEN_I               0
DOORING_I                        0
WORK_ZONE_I                      0
WORK_ZONE_TYPE                   0
WORKERS_PRESENT_I                0
NUM_UNITS                        0
MOST_SEVERE_INJURY               0
INJURIES_TOTAL                   0
INJURIES_FATAL                   0
INJURIES_INCAPACITATING          0
INJURIES_NON_INCAPACITATING      0
INJURIES_REPORTED_NOT_EVIDENT    0
INJURIES_NO_INDICATION           0
INJURIES_UNKNOWN                 0
CRASH_HOUR                       0
CRASH_DAY_OF_WEEK                0
CRASH_MONTH                      0
LATITUDE                         0
LONGITUDE                        0
LOCATION                         0
dtype: int64

In [42]:
crashes_cols = crashes.columns

for cols in  crashes_cols:
    print("{} : {} : {}".format(cols, crashes[cols].isnull().sum(), crashes[cols].dtype))

RD_NO : 0 : object
CRASH_DATE_EST_I : 0 : object
CRASH_DATE : 0 : object
POSTED_SPEED_LIMIT : 0 : int64
TRAFFIC_CONTROL_DEVICE : 0 : object
DEVICE_CONDITION : 0 : object
WEATHER_CONDITION : 0 : object
LIGHTING_CONDITION : 0 : object
FIRST_CRASH_TYPE : 0 : object
TRAFFICWAY_TYPE : 0 : object
LANE_CNT : 0 : object
ALIGNMENT : 0 : object
ROADWAY_SURFACE_COND : 0 : object
ROAD_DEFECT : 0 : object
REPORT_TYPE : 0 : object
CRASH_TYPE : 0 : object
INTERSECTION_RELATED_I : 0 : object
NOT_RIGHT_OF_WAY_I : 0 : object
HIT_AND_RUN_I : 0 : object
DAMAGE : 0 : object
DATE_POLICE_NOTIFIED : 0 : object
PRIM_CONTRIBUTORY_CAUSE : 0 : object
SEC_CONTRIBUTORY_CAUSE : 0 : object
STREET_NO : 0 : int64
STREET_DIRECTION : 0 : object
STREET_NAME : 0 : object
BEAT_OF_OCCURRENCE : 0 : float64
PHOTOS_TAKEN_I : 0 : object
STATEMENTS_TAKEN_I : 0 : object
DOORING_I : 0 : object
WORK_ZONE_I : 0 : object
WORK_ZONE_TYPE : 0 : object
WORKERS_PRESENT_I : 0 : object
NUM_UNITS : 0 : float64
MOST_SEVERE_INJURY : 0 : object
INJURIES_TOTAL : 0 : float64
INJURIES_FATAL : 0 : float64
INJURIES_INCAPACITATING : 0 : float64
INJURIES_NON_INCAPACITATING : 0 : float64
INJURIES_REPORTED_NOT_EVIDENT : 0 : float64
INJURIES_NO_INDICATION : 0 : float64
INJURIES_UNKNOWN : 0 : float64
CRASH_HOUR : 0 : int64
CRASH_DAY_OF_WEEK : 0 : int64
CRASH_MONTH : 0 : int64
LATITUDE : 0 : float64
LONGITUDE : 0 : float64
LOCATION : 0 : object

In [41]:
for cols in  crashes_cols:
    if crashes[cols].dtype == 'object':
        crashes[cols].fillna('Unknown', inplace=True) # if we were to build a model this would be used 
    else:
        crashes[cols].fillna(crashes[cols].mean(), inplace=True)

/var/folders/yx/4ygjbp9545s6p9w17x32bhzc0000gn/T/ipykernel_7661/2331767526.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crashes[cols].fillna('Unknown', inplace=True) # if we were to build a model this would be used
/var/folders/yx/4ygjbp9545s6p9w17x32bhzc0000gn/T/ipykernel_7661/2331767526.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crashes[cols].fillna(crashes[cols].mean(), inplace=True)

# Cleaning People.csv

In [46]:
people_cols = people.columns

for cols in  people_cols:
    if people[cols].dtype == 'object':
        people[cols].fillna('Unknown', inplace=True) # if we were to build a model this would be used 
    else:
        people[cols].fillna(people[cols].mean(), inplace=True)

/var/folders/yx/4ygjbp9545s6p9w17x32bhzc0000gn/T/ipykernel_7661/1239047940.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  people[cols].fillna('Unknown', inplace=True) # if we were to build a model this would be used
/var/folders/yx/4ygjbp9545s6p9w17x32bhzc0000gn/T/ipykernel_7661/1239047940.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  people[cols].fillna(people[cols].mean(), inplace=True)

In [47]:
print(people.isnull().sum())

PERSON_ID                0
PERSON_TYPE              0
RD_NO                    0
VEHICLE_ID               0
CRASH_DATE               0
SEAT_NO                  0
CITY                     0
STATE                    0
ZIPCODE                  0
SEX                      0
AGE                      0
DRIVERS_LICENSE_STATE    0
DRIVERS_LICENSE_CLASS    0
SAFETY_EQUIPMENT         0
AIRBAG_DEPLOYED          0
EJECTION                 0
INJURY_CLASSIFICATION    0
HOSPITAL                 0
EMS_AGENCY               0
EMS_RUN_NO               0
DRIVER_ACTION            0
DRIVER_VISION            0
PHYSICAL_CONDITION       0
PEDPEDAL_ACTION          0
PEDPEDAL_VISIBILITY      0
PEDPEDAL_LOCATION        0
BAC_RESULT               0
BAC_RESULT VALUE         0
CELL_PHONE_USE           0
dtype: int64

# Do same for vehicles, eliminating null values

```python
crashes['POSTED_SPEED_LIMIT'].fillna(crashes['POSTED_SPEED_LIMIT'].mean(), inplace=True)
people['AGE'].fillna(people['AGE'].mean(), inplace=True)  # Assuming you have an AGE column
vehicles['MAKE'].fillna('UNKNOWN', inplace=True)  # Fill missing vehicle makes
```

# Understanding DATA

In [48]:
crashes.head()

,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,JC123097,Unknown,01/19/2019 11:45:00 PM,30,TRAFFIC SIGNAL,UNKNOWN,SNOW,"DARKNESS, LIGHTED ROAD",REAR END,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,2.0,0.0,23,7,1,41.859566,-87.659525,POINT (-87.659524513506 41.859565972988)
1,JC123084,Unknown,01/19/2019 11:30:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",PEDALCYCLIST,NOT DIVIDED,...,0.0,1.0,1.0,0.0,23,7,1,41.928335,-87.699915,POINT (-87.699915181766 41.928335036314)
2,JC123076,Unknown,01/19/2019 11:16:00 PM,25,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,2.0,0.0,23,7,1,41.870048,-87.715673,POINT (-87.715673407351 41.870048406533)
3,JC123075,Unknown,01/19/2019 11:15:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN BARRIER,...,0.0,0.0,2.0,0.0,23,7,1,41.876569,-87.686450,POINT (-87.686449738767 41.876568874081)
4,JC123050,Y,01/19/2019 10:52:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,...,0.0,0.0,2.0,0.0,22,7,1,41.946837,-87.690697,POINT (-87.690696829341 41.946837390731)

In [54]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261265 entries, 0 to 261264
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   RD_NO                          261265 non-null  object
 1   CRASH_DATE_EST_I               261265 non-null  object
 2   CRASH_DATE                     261265 non-null  object
 3   POSTED_SPEED_LIMIT             261265 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         261265 non-null  object
 5   DEVICE_CONDITION               261265 non-null  object
 6   WEATHER_CONDITION              261265 non-null  object
 7   LIGHTING_CONDITION             261265 non-null  object
 8   FIRST_CRASH_TYPE               261265 non-null  object
 9   TRAFFICWAY_TYPE                261265 non-null  object
 10  LANE_CNT                       261265 non-null  object
 11  ALIGNMENT                      261265 non-null  object
 12  ROADWAY_SURFACE_COND           261265 non-null  object
 13  ROAD_DEFECT                    261265 non-null  object
 14  REPORT_TYPE                    261265 non-null  object
 15  CRASH_TYPE                     261265 non-null  object
 16  INTERSECTION_RELATED_I         261265 non-null  object
 17  NOT_RIGHT_OF_WAY_I             261265 non-null  object
 18  HIT_AND_RUN_I                  261265 non-null  object
 19  DAMAGE                         261265 non-null  object
 20  DATE_POLICE_NOTIFIED           261265 non-null  object
 21  PRIM_CONTRIBUTORY_CAUSE        261265 non-null  object
 22  SEC_CONTRIBUTORY_CAUSE         261265 non-null  object
 23  STREET_NO                      261265 non-null  int64
 24  STREET_DIRECTION               261265 non-null  object
 25  STREET_NAME                    261265 non-null  object
 26  BEAT_OF_OCCURRENCE             261265 non-null  float64
 27  PHOTOS_TAKEN_I                 261265 non-null  object
 28  STATEMENTS_TAKEN_I             261265 non-null  object
 29  DOORING_I                      261265 non-null  object
 30  WORK_ZONE_I                    261265 non-null  object
 31  WORK_ZONE_TYPE                 261265 non-null  object
 32  WORKERS_PRESENT_I              261265 non-null  object
 33  NUM_UNITS                      261265 non-null  float64
 34  MOST_SEVERE_INJURY             261265 non-null  object
 35  INJURIES_TOTAL                 261265 non-null  float64
 36  INJURIES_FATAL                 261265 non-null  float64
 37  INJURIES_INCAPACITATING        261265 non-null  float64
 38  INJURIES_NON_INCAPACITATING    261265 non-null  float64
 39  INJURIES_REPORTED_NOT_EVIDENT  261265 non-null  float64
 40  INJURIES_NO_INDICATION         261265 non-null  float64
 41  INJURIES_UNKNOWN               261265 non-null  float64
 42  CRASH_HOUR                     261265 non-null  int64
 43  CRASH_DAY_OF_WEEK              261265 non-null  int64
 44  CRASH_MONTH                    261265 non-null  int64
 45  LATITUDE                       261265 non-null  float64
 46  LONGITUDE                      261265 non-null  float64
 47  LOCATION                       261265 non-null  object
dtypes: float64(11), int64(5), object(32)
memory usage: 95.7+ MB

In [ ]:
# this is to find the col with unique values for each row (Primary key column)



def find_pk_column(df):
    columns = df.columns
    for col in columns:
        if len(df[col].unique()) == len(df):
            return col


find_pk_column(crashes)

'RD_NO'

In [49]:
people.head()

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O10,DRIVER,HY368708,10.0,08/04/2015 12:40:00 PM,4.187598,CHICAGO,IL,60641,M,...,Unknown,FAILED TO YIELD,UNKNOWN,NORMAL,Unknown,Unknown,Unknown,TEST NOT OFFERED,0.176127,Unknown
1,O100,DRIVER,HY374018,96.0,07/31/2015 05:50:00 PM,4.187598,ELK GROVE,IL,60007,M,...,Unknown,FOLLOWED TOO CLOSELY,UNKNOWN,NORMAL,Unknown,Unknown,Unknown,TEST NOT OFFERED,0.176127,Unknown
2,O1000,DRIVER,HY407431,954.0,09/02/2015 11:45:00 AM,4.187598,CHICAGO,IL,Unknown,M,...,Unknown,UNKNOWN,UNKNOWN,NORMAL,Unknown,Unknown,Unknown,TEST NOT OFFERED,0.176127,Unknown
3,O10000,DRIVER,HY484148,9561.0,10/31/2015 09:30:00 PM,4.187598,SKOKIE,IL,60076,M,...,Unknown,NONE,NOT OBSCURED,NORMAL,Unknown,Unknown,Unknown,TEST NOT OFFERED,0.176127,Unknown
4,O100001,DRIVER,HZ525619,96762.0,11/15/2016 05:45:00 PM,4.187598,Unknown,Unknown,Unknown,X,...,Unknown,UNKNOWN,UNKNOWN,UNKNOWN,Unknown,Unknown,Unknown,TEST NOT OFFERED,0.176127,Unknown

In [60]:
find_pk_column(people)

'PERSON_ID'

In [50]:
vehicles.head()

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,394092,JB278428,05/24/2018 04:45:00 PM,2,DRIVER,NaN,379191.0,NaN,DODGE,CHARGER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,394093,JB278428,05/24/2018 04:45:00 PM,1,PARKED,NaN,379180.0,NaN,PONTIAC,G6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,396094,JB281663,05/28/2018 12:30:00 AM,1,DRIVER,NaN,380981.0,NaN,VOLKSWAGEN,JETTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,396095,JB281663,05/28/2018 12:30:00 AM,2,DRIVER,1.0,380986.0,NaN,NISSAN,NISSAN MAXIMA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,396943,JB283806,05/29/2018 11:30:00 AM,1,DRIVER,NaN,381829.0,NaN,UNKNOWN,UNKNOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
find_pk_column(vehicles)

'CRASH_UNIT_ID'

In [53]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527452 entries, 0 to 527451
Data columns (total 71 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CRASH_UNIT_ID             527452 non-null  int64
 1   RD_NO                     527452 non-null  object
 2   CRASH_DATE                527452 non-null  object
 3   UNIT_NO                   527452 non-null  int64
 4   UNIT_TYPE                 527443 non-null  object
 5   NUM_PASSENGERS            73483 non-null   float64
 6   VEHICLE_ID                516997 non-null  float64
 7   CMRC_VEH_I                8524 non-null    object
 8   MAKE                      527452 non-null  object
 9   MODEL                     515399 non-null  object
 10  LIC_PLATE_STATE           474935 non-null  object
 11  VEHICLE_YEAR              433940 non-null  float64
 12  VEHICLE_DEFECT            516997 non-null  object
 13  VEHICLE_TYPE              516997 non-null  object
 14  VEHICLE_USE               516997 non-null  object
 15  TRAVEL_DIRECTION          516997 non-null  object
 16  MANEUVER                  516997 non-null  object
 17  TOWED_I                   49066 non-null   object
 18  FIRE_I                    261 non-null     object
 19  OCCUPANT_CNT              516997 non-null  float64
 20  EXCEED_SPEED_LIMIT_I      2099 non-null    object
 21  TOWED_BY                  35103 non-null   object
 22  TOWED_TO                  22704 non-null   object
 23  AREA_00_I                 23409 non-null   object
 24  AREA_01_I                 137935 non-null  object
 25  AREA_02_I                 108828 non-null  object
 26  AREA_03_I                 52876 non-null   object
 27  AREA_04_I                 60563 non-null   object
 28  AREA_05_I                 88428 non-null   object
 29  AREA_06_I                 72066 non-null   object
 30  AREA_07_I                 58096 non-null   object
 31  AREA_08_I                 115249 non-null  object
 32  AREA_09_I                 1931 non-null    object
 33  AREA_10_I                 5586 non-null    object
 34  AREA_11_I                 7286 non-null    object
 35  AREA_12_I                 4338 non-null    object
 36  AREA_99_I                 52804 non-null   object
 37  FIRST_CONTACT_POINT       516982 non-null  object
 38  CMV_ID                    5102 non-null    float64
 39  USDOT_NO                  3062 non-null    object
 40  CCMC_NO                   647 non-null     object
 41  ILCC_NO                   531 non-null     object
 42  COMMERCIAL_SRC            3975 non-null    object
 43  GVWR                      2909 non-null    object
 44  CARRIER_NAME              4926 non-null    object
 45  CARRIER_STATE             4671 non-null    object
 46  CARRIER_CITY              4575 non-null    object
 47  HAZMAT_PLACARDS_I         99 non-null      object
 48  HAZMAT_NAME               21 non-null      object
 49  UN_NO                     193 non-null     object
 50  HAZMAT_PRESENT_I          3844 non-null    object
 51  HAZMAT_REPORT_I           3736 non-null    object
 52  HAZMAT_REPORT_NO          0 non-null       float64
 53  MCS_REPORT_I              3755 non-null    object
 54  MCS_REPORT_NO             2 non-null       object
 55  HAZMAT_VIO_CAUSE_CRASH_I  3779 non-null    object
 56  MCS_VIO_CAUSE_CRASH_I     3738 non-null    object
 57  IDOT_PERMIT_NO            313 non-null     object
 58  WIDE_LOAD_I               43 non-null      object
 59  TRAILER1_WIDTH            1321 non-null    object
 60  TRAILER2_WIDTH            151 non-null     object
 61  TRAILER1_LENGTH           1105 non-null    float64
 62  TRAILER2_LENGTH           30 non-null      float64
 63  TOTAL_VEHICLE_LENGTH      1273 non-null    float64
 64  AXLE_CNT                  1730 non-null    float64
 65  VEHICLE_CONFIG            4354 non-null    object
 66  CARGO_BODY_TYPE           4190 non-null    object
 67  LOAD_TYPE                 4069 non-null    object
 68  HAZMAT_OUT_OF_SERVICE_I   3621 non-null    object
 69  MCS_OUT_OF_SERVICE_I      3716 non-null    object
 70  HAZMAT_CLASS              351 non-null     object
dtypes: float64(10), int64(2), object(59)
memory usage: 285.7+ MB

In [52]:
len(vehicles["CRASH_UNIT_ID"].unique()) # Unique

527452

# Encode Spatial Data (GeoHash Example)

In [21]:
!pip install python-geohash

Collecting python-geohash
  Downloading python-geohash-0.8.5.tar.gz (17 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: python-geohash
  Building wheel for python-geohash (pyproject.toml) ... done
  Created wheel for python-geohash: filename=python_geohash-0.8.5-cp312-cp312-macosx_14_0_arm64.whl size=17862 sha256=ba24f79c579c341195f1e908a63999e464e4fda488dcb953023c5c91dee65cec
  Stored in directory: /Users/apple/Library/Caches/pip/wheels/99/09/e3/e79212f36359a6322cb038bb0f83ca73581a72d8cdfe23e480
Successfully built python-geohash
Installing collected packages: python-geohash
Successfully installed python-geohash-0.8.5

In [ ]:
from geopy.geocoders import Nominatim
import geohash

In [63]:
# Example of encoding latitude and longitude into GeoHash
# this adds a column on our dataframe called GEOHASH containing th geohash values for each row
def encode_geohash(row):
    return geohash.encode(row['LATITUDE'], row['LONGITUDE'])

# Apply GeoHash encoding to crashes DataFrame
crashes['GEOHASH'] = crashes.apply(encode_geohash, axis=1)

In [64]:
crashes.head()

,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION,GEOHASH
0,JC123097,Unknown,01/19/2019 11:45:00 PM,30,TRAFFIC SIGNAL,UNKNOWN,SNOW,"DARKNESS, LIGHTED ROAD",REAR END,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,2.0,0.0,23,7,1,41.859566,-87.659525,POINT (-87.659524513506 41.859565972988),dp3wjk239h9j
1,JC123084,Unknown,01/19/2019 11:30:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",PEDALCYCLIST,NOT DIVIDED,...,1.0,1.0,0.0,23,7,1,41.928335,-87.699915,POINT (-87.699915181766 41.928335036314),dp3ws2ff7b5s
2,JC123076,Unknown,01/19/2019 11:16:00 PM,25,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,2.0,0.0,23,7,1,41.870048,-87.715673,POINT (-87.715673407351 41.870048406533),dp3w5ypqswtr
3,JC123075,Unknown,01/19/2019 11:15:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN BARRIER,...,0.0,2.0,0.0,23,7,1,41.876569,-87.686450,POINT (-87.686449738767 41.876568874081),dp3whxkstwhp
4,JC123050,Y,01/19/2019 10:52:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,SNOW,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,...,0.0,2.0,0.0,22,7,1,41.946837,-87.690697,POINT (-87.690696829341 41.946837390731),dp3wss1w49jp

# Connect to SQL Server and Upload Data

In [29]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-macosx_13_0_arm64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-macosx_13_0_arm64.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 963.0 kB/s eta 0:00:00:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [30]:
import pyodbc
import mysql.connector

In [ ]:
# Connect to SQL Server :: this is if we are using sql server
conn = pyodbc.connect('DRIVER={SQL Server};'
                      'SERVER=your_server;'
                      'DATABASE=your_database;'
                      'UID=your_username;'
                      'PWD=your_password;')

In [ ]:
# Connect to MySQL : if using xampp
conn = mysql.connector.connect(
    host='localhost',
    user='your_username',  # Replace with your MySQL username
    password='your_password',  # Replace with your MySQL password
    database='your_database'  # Replace with your database name
)

In [ ]:
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE Crashes (
    RD_NO NVARCHAR(50),
    CRASH_DATE DATETIME,
    POSTED_SPEED_LIMIT INT,
    GEOFASH NVARCHAR(12),
)
''')

cursor.execute('''
CREATE TABLE People (
    PERSON_ID NVARCHAR(50),
    RD_NO NVARCHAR(50),
    CITY NVARCHAR(50),
    SEX NVARCHAR(10),
)
''')

cursor.execute('''
CREATE TABLE Vehicles (
    VEHICLE_ID NVARCHAR(50),
    RD_NO NVARCHAR(50),
    MAKE NVARCHAR(50),
)
''')

conn.commit()

In [ ]:
# Uploading our DataFrames to SQL Server
crashes.to_sql('Crashes', conn, if_exists='append', index=False)
people.to_sql('People', conn, if_exists='append', index=False)
vehicles.to_sql('Vehicles', conn, if_exists='append', index=False)

In [ ]:
# Now closing the connection
conn.close()

In [ ]:
# Alternatively, 
# Function to upload a DataFrame to MySQL
def upload_to_mysql(df, table_name):
    for row in df.itertuples(index=False):
        cursor.execute(f'''
            INSERT INTO {table_name} VALUES (%s, %s, %s, %s)
        ''', row)

# Upload DataFrames to MySQL
upload_to_mysql(crashes, 'Crashes')
upload_to_mysql(people, 'People')
upload_to_mysql(vehicles, 'Vehicles')

# Commit the transaction
conn.commit()

# Close the connection
cursor.close()
conn.close()